<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/MisScripts/FechaHoraSinMiliSegundos.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/datatables.css"/>
    <script type="text/javascript" charset="utf-8" src="~/Scripts/DataTables/datatables.js"></script>
    <link href="~/Scripts/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" />
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js" charset="utf-8"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.es.js" charset="utf-8"></script>
    @*<link rel="stylesheet" type="text/css" href="~/Scripts/DataTables/DataTables-1.10.23/css/dataTables.bootstrap.min.css" />
    <script type="text/javascript" charset="utf-8" src="~/Scripts/DataTables/DataTables-1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Scripts/DataTables/DataTables-1.10.23/js/dataTables.bootstrap.min.js"></script>*@

    @RenderSection("MisFuncionesJavaScript")
</head>
<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Me</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="/Tienda/Index">VER TIENDAS</a></li>
                    <li><a href="/Tienda/MostrarFormAltaTienda">NUEVA TIENDA</a></li>
                    <li><a href="/Tienda/MostrarFormModificarTienda">MODIFICAR TIENDA</a></li>
                    <li><a href="/TiendaYProducto/AgregarProductosATienda">AGREGAR PRODUCTOS A TIENDA</a></li>
                    <li><a href="/Producto/Index">VER PRODUCTOS</a></li>
                    <li><a href="/Producto/MostrarFormAltaProducto/">NUEVO PRODUCTO</a></li>
                    <li><a href="/Producto/MostrarFormModificarProducto">MODIFICAR</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">CADUCIDAD<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Caducidad/AgregarCaducidad">AGREGAR NUEVA</a></li>
                            <li><a href="/Caducidad/VerCaducidad">VER CADUCIDAD</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span>@User.Identity.Name</a></li>
                    <li><a href="/Authentication/LogOut"><span class="glyphicon glyphicon-log-in"></span> Cerrar sesión</a></li>
                </ul>
            </div>


        </div>
    </nav>     <!--si haces la barra de navegacion fija, te tapara parte de lo que esta abajo, por eso a lo de abajo es necesario darle un margen-->


    <div class="container-fluid">
        @RenderSection("Contenido")
    </div>
    <div class="container-fluid">
        @RenderSection("Footer")
    </div>
</body>
</html>
