@using ControlCaducidadesPromotor.Basicos
@model List<TiendaViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MiLayout.cshtml";
}

<h3>Mis tiendas</h3>

@section MisFuncionesJavaScript
{
    <script type="text/javascript">
        'use strict'

        var x = $(document);
        x.ready(inicializarEventos);


        function inicializarEventos() {
            EstilizarConDataTables("#misTiendas")       
        }

        function EstilizarConDataTables(nomTabla) {
            //https://datatables.net/manual/data/
            var objetoDataTable = $(nomTabla).DataTable();  //Genero un objeto dataTable
            objetoDataTable.destroy(); //lo desconecto de las propiedades dataTable (paso necesario para poder modificar la <table>), no se destruye el contenido de la <table></table>

            if (nomTabla === '#misTiendas') {
                $(nomTabla).DataTable({
                    language: {
                        url: '../Scripts/DataTables/Spanish.json'
                    },                  //https://datatables.net/manual/options
                    //searching: false, //https://datatables.net/reference/option/columns.searchable
                    order: [],      //https://datatables.net/reference/option/order
                    columnDefs: [{ searchable: false, targets: [0, 6] }  //https://datatables.net/reference/option/columnDefs
                        //{ visible: false, targets: [0, 3], }
                    ]
                });
            }
        }
    </script>
}


@section Contenido
{
    <h3>Ver tiendas</h3>
    <div class="table-responsive">
        <table id="misTiendas" class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Supermanzana</th>
                    <th>Manzana</th>
                    <th>Lote</th>
                    <th>Calle</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nombre</td>
                            <td>@item.Supmza</td>
                            <td>@item.Manzana</td>
                            <td>@item.Lote</td>
                            <td>@item.Calle</td>
                            <td>@item.Activo</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}



@section Footer
{
}